# Basic descriptive statistcs
Using pandas and numpy, we can do basic statistics.

In [1]:
import pandas as pd
import numpy as np

data_frame = pd.read_csv("../../data/short_table.csv", delimiter=',')

# show it
data_frame

   Unnamed: 0  labels  area  minor_axis  major_axis  aspect_ratio
0           0       1    45           2           3          1.50
1           1       2    23           4           4          1.00
2           2       3    68           4           5          1.25

You can _take_ a column out of the DataFrame. In this context it works like a Python dictionary.

In [2]:
data_frame["area"]

0    45
1    23
2    68
Name: area, dtype: int64

Even though this data structure appears more than just a vector, numpy is capable of applying basic descriptive statistics functions:

In [3]:
np.mean(data_frame["area"])

45.333333333333336

In [4]:
np.min(data_frame["area"])

23

In [5]:
np.max(data_frame["area"])

68

Individual cells of the DataFrame can be accessed like this:

In [6]:
data_frame["area"][0]

45

For loops can also iterate over table columns like this:

In [7]:
for area_value in data_frame["area"]:
    print(area_value)

45
23
68